fastapi==0.115.0
uvicorn[standard]==0.30.6
pydantic==2.8.2
pydantic-settings==2.4.0
python-dotenv==1.0.1
supabase==2.7.4
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
httpx==0.27.2
python-multipart==0.0.9
openpyxl==3.1.5
reportlab==4.2.2
pandas>=2.2.2  # Python 3.13 uchun 3.0.x versiyasi mos keldi
openai==1.45.0
celery==5.4.0
redis==5.0.8
rapidfuzz==3.9.7
aiofiles==24.1.0
Pillow==10.4.0